@tailwind base;
@tailwind components;
@tailwind utilities;
 
*, 
*::before, 
*::after { 
  box-sizing: border-box; 
}

ul[class], 
ol[class] { 
  padding: 0; 
} 

body, 
h1, 
h2, 
h3, 
h4, 
p, 
ul[class], 
ol[class], 
li, 
figure, 
figcaption, 
blockquote, 
dl, 
dd { 
  margin: 0; 
} 

body { 
  min-height: 100vh; 
  scroll-behavior: smooth; 
  text-rendering: optimizeSpeed; 
  line-height: 1.5; 
} 

ul[class], 
ol[class] { 
  list-style: none; 
} 

a:not([class]) { 
  text-decoration-skip-ink: auto; 
} 

img { 
  max-width: 100%; 
  display: block; 
} 

article > * + * { 
  margin-top: 1em; 
} 

input, 
button, 
textarea, 
select { 
  font: inherit; 
} 

@media (prefers-reduced-motion: reduce) { 
  * { 
    animation-duration: 0.01ms !important ; 
    animation-iteration-count: 1 !important ; 
    transition-duration: 0.01ms !important ; 
    scroll-behavior: auto !important ; 
  } 
}
@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 

:root {
  --background: 31, 31, 34;
  --text-color: 255, 255, 255;
  --primary-color: #8FEFDF;
  --secondary-color: #e8a8f8; 
  --shadow-primary: rgba(97,255,173,0.1);
  --shadow-primary-neon: rgba(97, 255, 173, 0.302);
  --shadow-secondary: rgba(170, 44, 199, 0.032);
  --shadow-secondary-neon: rgba(255, 97, 250, 0.073);
  --dark-1: #000000;
  --dark-2: #09090A;
  --dark-3: #101012;
  --dark-4: #1F1F22;
  --dark-5: #2F2F32;
  --light-2: #EFEFF1;
  --light-3: #7878A3;
  --light-4: #5C5C7B;
  --light-5: #aCaCcB;
  --light-6: #cCcCdB;
  --light-1: #FFFFFF;
}

body {
  background-color: var(--dark-2);
  color: rgb(var(--text-color));
  @apply min-h-[100vh] h-[100dvh];
}


@layer utilities {
  .shadow-primary {
    -webkit-box-shadow: 0px 1px 68px -1px var(--shadow-primary);
    -moz-box-shadow: 0px 1px 68px -1px var(--shadow-primary);
    box-shadow: 0px 1px 68px -1px var(--shadow-primary);
  }
  .shadow-neon-primary {
    -webkit-box-shadow: 0px 0px 15px 5px var(--shadow-primary-neon);
    -moz-box-shadow: 0px 0px 15px 5px var(--shadow-primary-neon);
    box-shadow: 0px 0px 15px 5px var(--shadow-primary-neon);
  }
  .shadow-neon-secondary {
    -webkit-box-shadow: 0px 0px 15px 5px var(--shadow-secondary-neon);
    -moz-box-shadow: 0px 0px 15px 5px var(--shadow-secondary-neon);
    box-shadow: 0px 0px 15px 5px var(--shadow-secondary-neon);
  }
  .text-shadow-neon {
    text-shadow:  0px 0px 20px var(--shadow-primary-neon);
  }
  .neon-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    place-items: center;
    height: 300px;
    width: 300px;
  }
  
  .neon-box {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 2px solid #00ff00; 
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[4px] h-[4px] rounded-[2px] transition-colors;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-light-2 dark:bg-dark-2;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary-500 rounded-[50px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #68c8b8;
  }
  .common-container {
    @apply h-full custom-scrollbar overflow-y-scroll;
  }

  .container-restrictive {
    @apply max-w-[1100px] mx-auto px-3 md:px-6;
  }

  .link-underline {
    transition: all 0.3s ease;
  }
  .link-underline:hover {
    color: var(--primary-color);
  }
  .link-underline:hover::before {
    left: 0%;
    width: 100%;
  }
  .link-underline::before {
    transition: all 0.1s cubic-bezier(.31,.87,.88,.7);
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 2px;
    width: 0%;
    background-color: var(--primary-color);
  }
  .hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    height: 2.5em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.7;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke 0.3s ease;
  }
  
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  .hamburger:hover .line {
    stroke: var(--primary-color);
  }
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 88px;
    height: 12px;
    --_g: no-repeat radial-gradient(farthest-side,var(--primary-color) 94%,#0000);
    background:
      var(--_g) 25% 0,
      var(--_g) 75% 0;
    background-size: 12px 12px;
    position: relative;
    animation: l24-0 1s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    height: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color);
    inset: 0;
    margin: auto;
    animation: l24-1 1s cubic-bezier(0.5,300,0.5,-300) infinite;
  }
  @keyframes l24-0 {
    0%,24%  {background-position: 25% 0,75% 0}
    40%     {background-position: 25% 0,85% 0}
    50%,72% {background-position: 25% 0,75% 0}
    90%     {background-position: 15% 0,75% 0}
    100%    {background-position: 25% 0,75% 0}
  }
  @keyframes l24-1 {
    100% {transform:translate(0.1px)}
  }
  .loader-spinner {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, var(--primary-color) 100%);
    box-sizing: border-box;
    animation: rotation-loader 1s linear infinite;
  }
  .loader-spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
  }
  @keyframes rotation-loader {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
  }
  .cross {
    position: relative;
    width: 20px;
    cursor: pointer;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cross::after, .cross::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #000;
    transition: height 0.1s ease;
  }
  .cross::after {
    transform: rotate(45deg);
  }
  .cross::before {
    transform: rotate(-45deg);
  }
  .cross:hover::after, .cross:hover::before {
    height: 1.2px;
  }
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  height: 20px;
}

.SliderTrack {
  background-color: var(--dark-5);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: box-shadow 0.2s;
}

.SliderRoot[data-disabled] .SliderThumb {
  background-color: var(--dark-5);
}
.SliderRoot[data-disabled] .SliderTrack {
  background-color: var(--dark-2);
}
.SliderRoot[data-disabled] .SliderRange {
  background-color: var(--dark-5);
}

.SliderThumb:hover {
  outline: none;
  -webkit-box-shadow: 0px 0px 15px 0px var(--shadow-primary-neon);
  -moz-box-shadow: 0px 0px 15px 0px var(--shadow-primary-neon);
  box-shadow: 0px 0px 15px 0px var(--shadow-primary-neon);
}

.file-drag {
  position: relative;
  animation: anim-file-drag 1s infinite;
}

@keyframes anim-file-drag {
  0% {
    top: 0;
    transform: rotate(-30deg);
  }
  33% {
    top: -10px;
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    top: 0;
    transform: rotate(-30deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.svg-diabled {
  filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(104deg) brightness(90%) contrast(83%);
}

.group-settings:hover .svg-settings {
  animation: spin 2s linear infinite;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-events {
  pointer-events:none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 3s ease 0s forwards,
  scale-in 3s ease 0s forwards;
}
